# Database
POSTGRES_DB=rss_bridge
POSTGRES_USER=rss_bridge
POSTGRES_PASSWORD=changeme

# Ports (host-side)
DB_PORT=5433
FEED_PORT=3100

# Scraper
SCRAPE_GROUPS=[{"groupId":"100000000000001","siteId":"facebook","name":"Demo Group One","url":"https://www.facebook.com/groups/100000000000001"},{"groupId":"100000000000002","siteId":"facebook","name":"Demo Group Two","url":"https://www.facebook.com/groups/100000000000002"}]
SCRAPE_SCHEDULE=0 * * * *
# SOURCE_ACCESS_TOKEN=your_source_access_token_here
