node_modules/
dist/
.env
.env.*
!.env.example
*.log
cookies/**/*.json
!cookies/facebook/fb_cookies.example.json
!cookies/competitions-nz/cookies.example.json
.vscode/*
TODO.md
packages/scraper/src/sites/facebook/__fixtures__/

# Added by ggshield
.cache_ggshield
